<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_main" name="Hospital G" action=""/>
    <menuitem id="menu_patient_main" name="Patient Details G" action="" parent="menu_hospital_main"/>
<!--    <menuitem id="menu_patient_details" name="Patients G" action="" parent="menu_patient_main"/>-->
</odoo>